!!!5

%html
  %head
    %script{:src => 'http://juo/js-lib/jquery-1.9.1.min.js'}
    %script{:src => 'http://juo/js-lib/bootstrap/js/bootstrap.min.js'}
    %link{:rel => 'stylesheet', :href => '/styles/index.css'}
    %link{:rel => 'stylesheet', :href => 'http://juo/js-lib/bootstrap/css/bootstrap.min.css'}
  %body.bg
  
    = haml :header

    .container
      .row{:style => 'background-image: url("/images/bg.png");box-shadow: -2px 4px 5px rgba(0,0,0,.5);'}
        = haml :leftside

        .span9.maincontent{:style => 'margin-left:0px;background-color:#FFFFFF;width:80%;min-height:300px;'}
          .title= "Modify #{@date} work plan"
          .container-fluid{:style => 'margin:10px;padding:0px;',:class => "form-horizontal"}
            .row-fluid 
              .span12
                %form{:action => '/reportitem/edit', :method => 'post'}
                  .control-group 
                    .control-label Date
                    .controls 
                      %input.input-xlarge{:type => "text", :name => 'item[date]', :value => @date, :readOnly => true}
                  %input.input-xlarge{:type => "hidden", :name => 'item[_id]', :value => @reportItem._id}
                  %input.input-xlarge{:type => "hidden", :name => 'item[report]', :value => @report._id}
                  %input.input-xlarge{:type => "hidden", :name => 'item[author]', :value => @auth._id}
                  .control-group 
                    .control-label Author
                    .controls 
                      %input.input-xlarge{:type => "text", :value => @auth.name, :disabled => 'disabled'}
                  .control-group 
                    .control-label Content
                    .controls 
                      %textarea.input-xlarge{:rows => '6', :name => 'item[plan]', :cols => 80}= @reportItem.plan
                  .control-group 
                    .control-label Complete
                    .controls 
                      %textarea.input-xlarge{:rows => '6', :name => 'item[complete]', :cols => 80}= @reportItem.complete
                  .control-group 
                    .controls
                      %input{:type => 'submit', :class => 'btn btn-small btn-primary', :value => 'Submit'}

            
    .container{:style => 'margin-top:20px;'}
      .row 
        %span12 
            

        